
    
.high-demand-checkbox {
    margin-top: 10px; /* или любое другое значение, чтобы создать отступ между полем поиска и чекбоксом */
    color: white;
}
    
    
.search-button {
    background-color: #001f3f; /* темно-синий цвет для кнопки поиска */
    color: #fff; /* белый цвет текста */
}

.clear-button {
    margin-left: -560px; /* добавляем отступ слева для кнопки "Очистить" */
}