body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("bg1.jpg");
    background-size: 100%; /* Растягивает картинку на весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card_group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Отрицательные отступы по бокам для компенсации положительных отступов у дочерних элементов */
    padding: 10px 40px;
}

.card_group > * {
    flex: 0 0 calc(25% - 20px); /* Задание фиксированной ширины, как если бы было 4 элемента в строке с учетом отступов */
    margin: 10px; /* Отступы между элементами */
    box-sizing: border-box;
}

.radio-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: white;
    font-size: 16px;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
  }
  
  .radio-input {
    margin-right: 5px;
  }