body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("bg1.jpg");
    background-size: 100%; /* Растягивает картинку на весь фон */
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    text-align: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 10px 0;
}

.resources {
    flex-grow: 1;
}

.resource-grid {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.card_group {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px; /* Отрицательные отступы по бокам для компенсации положительных отступов у дочерних элементов */
    padding: 10px 40px;
}

.card_group > * {
    flex: 0 0 calc(25% - 20px); /* Задание фиксированной ширины, как если бы было 4 элемента в строке с учетом отступов */
    margin: 10px; /* Отступы между элементами */
    box-sizing: border-box;
}

