.resource-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0; /* Убираем внешние отступы */
}

.resource-container {
    text-align: center;
    background-color: rgba(54, 54, 54, 0.7);
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 25%; /* Ширина 30% от ширины страницы */
    max-height: 80vh; /* Максимальная высота 70% от высоты страницы */
    overflow: hidden; /* Скрываем возможное переполнение контента */
    box-sizing: border-box; /* Учитываем отступы и границу в размерах элемента */
    padding: 10px; /* Уменьшаем внутренние отступы */
}

.resource-image {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px; /* Уменьшаем отступ снизу */
}

.resource-details {
    color: #d6d6d6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.resource-title {
    font-size: 28px;
    margin-bottom: 10px; /* Уменьшаем отступ снизу */
}

.resource-info {
    font-size: 18px;
    margin-bottom: 15px; /* Уменьшаем отступ снизу */
}

.home-button {
    font-size: 18px;
    background-color: #4f4f4f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-bottom: 5px; /* Уменьшаем отступ снизу */
}

.home-link {
    text-decoration: none;
}
