.resource-container {
    text-align: center;
    background-color: rgba(54, 54, 54, 0.7);
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 40px;
    width: 50%;
    max-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: flex; /* Добавлено */
    flex-direction: column; /* Добавлено */
}

.resource-details {
    display: flex;
    align-items: flex-start;
}

.resource-image {
    max-width: 40%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.resource-title {
    flex: 1;
    color: #ffffff;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 5px;
}

.resource-info {
    flex: 1;
    color: #d6d6d6;
    border-radius: 5px;
    text-align: left;
    font-size: 18px;
    margin-bottom: 15px;
}

.home-button {
    font-size: 18px;
    background-color: #4f4f4f;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    margin-top: 10px;
}

.home-link {
    text-decoration: none; /* Добавлено для убирания подчеркивания */
}